$primary: #fdd835;
$primary-light: #ffff6b;
$primary-dark: #c6a700;

$secondary: #424242;
$secondary-light: #6d6d6d;
$secondary-dark: #1b1b1b;

$texton-p: #000000;
$texton-s: #ffffff;

.flexbox-container {
    margin-top: 220px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
}

.flexbox-container .flexbox-form {
    display: flex;
    flex-direction: column;
}

.flexbox-container .flexbox-info{
    margin-left: 50px;
    h3 {
        display: flex;
        font-size: 56px;
        color: $secondary-dark;
    }
    h1 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 72px;
        color: $secondary-dark;
    }
    span {
        font-size: 18px;
    }
    img{
        display: block;
        margin-right: auto;
        margin-bottom: 30px;
        filter: grayscale(100%);
        box-shadow: 0px 0px 2px;

    }
}

  /* Small screens */
  @media all and (max-width: 700px) {
    .flexbox-container {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    
    .flexbox-container .flexbox-form {
        display: flex;
        flex-direction: column;
    }
    
    .flexbox-container .flexbox-info{
        margin-left: 0;
        margin-top: 10px;
        h3 {
            display: block;
            font-size: 56px;
            color: $secondary-dark;
        }
        h1 {
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 72px;
            color: $secondary-dark;
        }
        span {
            font-size: 18px;
        }
    }
    
    .flexbox-forecast{
        margin-top: 50px;
        table {
            tr{
                th {
                    margin-left: 30px;
                }
                margin-bottom: 20px;
            }
        }
    }
  }