$primary: #fdd835;
$primary-light: #ffff6b;
$primary-dark: #c6a700;

$secondary: #424242;
$secondary-light: #6d6d6d;
$secondary-dark: #1b1b1b;

$texton-p: #000000;
$texton-s: #ffffff;

.container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    align-items: center;

    .weather {
        align-content: center;
        .weather-icon {
            div {
                span {
                    font-size: 100px;
                }
            }
        }
    }

    .forecast-info {
        margin-left: 50px;
        table {
            tr {
                th {
                    text-align: left;
                }

                th, td {
                    padding-right: 15px;
                }
            }
            .forecast-daily-desc {
                td {
                    font-style: italic;
                }
            }
        }
    }
}

@media all and (max-width: 800px) {
    .container {
        margin-top: 100px;
        align-items: center;
        flex-direction: column
    }
    .weather-info {
        margin-top: 30px;
    }

    .forecast-info {
        margin-left: 0px;
        margin-right: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
        table {
            th:nth-last-child(1),
            th:nth-last-child(2) {
                display: none;
            }
            td:nth-last-child(1),
            td:nth-last-child(2) {
                display: none;
            }
            tr {
                th {
                    text-align: left;
                }

                th, td {
                    padding-right: 10px;
                }
            }
            .forecast-daily-desc {
                td {
                    font-style: italic;
                }
            }
        }
    }

}